<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="style-login.css">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="logo">
            <img id="logo" src="/assets/images/logo.png" alt="LogoMarca">
        </div>
    </header>
    <main>
        <section>
            <div class="modal_form">
                <h1>Login</h1>
                <form action="/layout/aluno/index.html">
                    <div class="input-container"><br>
                        <input type="text" name="nome" id="nome" placeholder="Usuario"><br>
                        <input type="password" name="password" id="password" placeholder="Senha">
                    </div>
                    <button class="btn-entrar">Entrar</button><br><br>
                    <a href="" style="text-decoration: underline ;">Esqueceu a senha?</a>
                </form> 
            </div>
          </section>
    </main>
    <footer>

    </footer>
</body>
</html>